.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex-grow: 1;
}
.landing-page .site-content > section:nth-child(1) {
    margin-top: 70px;
}
.landing-page .btn-primary {
    background-color: #e77362;
    border-color:#e77362;
}
.landing-page .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus {
    background-color: #e77362;
    border-color:#e77362;
}
a {
    color:#e77362;
}
.landing-page .navy-line {
    width: 60px;
    height: 1px;
    border-bottom: 2px solid #e77362;
    margin: 0 auto 0;
    margin-bottom: 30px;
}
.landing-page .navy-line-left {
    width: 60px;
    height: 1px;
    margin-bottom: 40px;
    border-bottom: 2px solid #e77362;
}
.landing-page .navbar-default.navbar-scroll {
    background-color: #fff;
    border-color: #fff;
    padding: 0;
}
.landing-page .navbar-scroll .navbar-nav > li > a {
    padding: 10px 10px;
}
.landing-page .navbar-scroll.navbar-default .nav li a:hover,
.landing-page .navbar-scroll.navbar-default .nav li a:active,
.landing-page .navbar-default .navbar-nav > .active > a {
    color: #e77362;
    border-top: 6px solid #fff;
}
.landing-page .navbar-default .navbar-brand:hover,
.landing-page .navbar-default .navbar-brand:focus {
    background-color: #fff;
}
.landing-page .navbar-default .navbar-brand {
    background-color: #fff;
}
.navbar-toggler {
    background-color: #e77362;
}
.landing-page .gray-section {
    background: #f4f4f4;
}
.landing-page h1 {
    font-size: 45px;
    font-weight: 600;
}
.landing-page .features h2 {
    font-size: 30px;
    font-weight: 600;
}
.landing-page h2 {
    font-size: 30px;
    font-weight: 600;
}
.landing-page h2.emphasis {
    font-weight: 600;
}
.landing-page h2.tag {
    margin-top: 0;
}
.landing-page h2.line {
    margin-top: 10px;
}
.landing-page h3 {
    margin-top: 25px;
    font-size: 23px;
    font-weight: 600;
}
.landing-page h3.emphasis {
    font-weight: 600;
}
.landing-page span.navy {
    color: #e77362;
}
.landing-page section p,
.landing-page section li {
    color: #3e3935;
    font-size: 18px;
}
.landing-page .bubble {
    height: auto;
    font-size: 18px;
}
.landing-page .circle-border img {
    border-radius: 50%!important;
    border: 6px solid #ccc;
}
.landing-page .rounded img {
    border-radius: .25rem!important;
}
.no-vote {
    margin-left: 0px;
}
.landing-page .jumbotron p {
    color: #676a6c;
    font-size: 25px;
}
.landing-page .vote-item {
    border-top: 0px;
    padding: 10px 20px;
    border-bottom: 10px solid #f3f3f4;
    margin-bottom: 10px;
}
.landing-page .vote-title {
    font-size: 22px;
}
.landing-page .vote-icon {
    text-align: middle;
}
.landing-page .pagination {
    margin-top: 25px;
}
.vote-info a, .vote-info span {
    font-size: 14px;
    margin-right: 10px;
}
.landing-page section .related-links p {
    font-size: 16px;
}
.landing-page .gray-section {
    margin: 0;
}
.landing-page .theme-section {
    color: #fff;
    background-color: #e77362;
}
.landing-page .theme-section p {
    color: #fff;
}
.landing-page .theme-section a {
    color: #fff;
}
.landing-page .theme-section .social-feed-box {
    background-color: rgba(255,255,255,.90);
}
.landing-page .theme-section .social-feed-box a {
    color:#e77362;
}
.landing-page .theme-section .social-body p {
    color: #676a6c;
    font-size: 12px;
    margin: 0;
}
.landing-page .theme-section h1 {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: -1.5px;
}
.landing-page .theme-section h2 {
    font-weight: 700;
}
.landing-page .theme-section .btn-default {
    color:#e77362;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    border: 3px solid #e7eaec;
}
.landing-page .theme-section .btn-default:hover {
    background-color: #e77362;
    border: 3px solid #e7eaec;
    color:#fff;
}
.landing-page .highlight-block {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #e77362;
}
.landing-page .features-icon {
    color: #e77362;
    font-size: 56px;
}
.middle-box h1 {
    color:#e77362;
    font-size: 170px;
}
.landing-page footer .nav > li > strong {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    display: block;
}
.landing-page footer .nav > li a {
    color: #676a6c;
    padding: 14px 20px 14px 25px;
}
.landing-page footer .nav > li a:hover {
    color: #e77362;
    padding: 14px 20px 14px 25px;
}
.landing-page .bigTodo ol {
    font-style:italic; 
    font-family:Georgia, Times, serif; 
    font-size:24px; 
    color:#bfe1f1;
}
.landing-page .richText ol {
    list-style: decimal outside none;
    margin: 0;
    padding: 10px 10px 10px 35px;
}
.landing-page .richText ol li {
    border-left: 2px solid #e77362;
    padding-left: 10px;
    padding-bottom: 20px;
}
.emoji-shadow {
    color: transparent !important;
    text-shadow: 0 0 #e77362;
}
.emoji-gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-size: 10em;
}
.text-danger {
    color: #e77362 !important;
}
.bg-danger {
    background-color: #e77362 !important;
}
.landing-page .summary-box {
    border-left: 6px solid #e77362;
    padding: 30px 30px 30px 30px;
    background-color: #f3f3f4;
}
.landing-page .summary-box h3 {
    color:#e77362;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.landing-page .table-box {
    border-top: 1px solid #e77362;
    border-bottom: 1px solid #e77362;
    padding: 10px 10px 0 10px;
    background-color: #f3f3f4;
}
.landing-page .services {
    padding-top: 0;
}
.landing-page .services h2 {
    color:#e77362;
    font-size: 25px;
}
.landing-page .services p {
    font-size: 16px;
}
@media (min-width: 1000px) {
    .landing-page .wide-image {
        max-width: 90%;
    }
}
@media (min-width:768px) {
    .landing-page .site-content > div:nth-child(1) {
        margin-top: 50px;
    }
    .landing-page .site-content > section:nth-child(1) {
        margin-top: 135px;
    }
}
@media (min-width:991px) {
    #header {
        margin-top: 80px;
    }
    .landing-page .site-content > div:nth-child(1) {
        margin-top: 0;
    }
    .landing-page .site-content > section:nth-child(1) {
        margin-top: 64px;
    }
}
@media (max-width: 768px) {
    body:not(.mini-navbar) {
        background-color: #fff;
    }
    .landing-page .theme-section h1 {
        font-size: 28px;
    }
    .landing-page .nav.navbar-right {
        flex-direction: row;
    }
    .landing-page .site-content > section:nth-child(1) {
        margin-top: 65px;
    }
    .landing-page footer .nav > li > strong,
    .landing-page footer .nav > li > a,
    .landing-page footer .nav > li > a:hover {
        padding: 10px 10px 15px 10px;
    }
}