.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex-grow: 1;
}
.landing-page .site-content section:nth-child(1) {
    margin-top: 70px;
}
.landing-page .btn-primary {
    background-color: #e77362;
    border-color:#e77362;
}
.landing-page .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus {
    background-color: #e77362;
    border-color:#e77362;
}
a {
    color:#e77362;
}
.landing-page .navy-line-left {
    width: 60px;
    height: 1px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e77362;
}
.landing-page .navbar-scroll.navbar-default .nav li a:hover {
    color: #e77362;
}
.landing-page .navbar-default .navbar-brand:hover,
.landing-page .navbar-default .navbar-brand:focus {
    background-color: #fff;
}
.landing-page .navbar-default .navbar-brand {
    background-color: #fff;
}
.navbar-toggler {
    background-color: #e77362;
}
.landing-page .gray-section {
    background: #f4f4f4;
}
.landing-page h1 {
    font-size: 45px;
}
.landing-page .features h2 {
    font-size: 30px;
}
.landing-page h2 {
    margin-top: 30px;
    font-size: 30px;
}
.landing-page h2.tag {
    margin-top: 0;
}
.landing-page h2.line {
    margin-top: 10px;
}
.landing-page h3 {
    margin-top: 30px;
    font-size: 20px;
}
.landing-page span.navy {
    color: #e77362;
}
.landing-page section p,
.landing-page section li {
    color: #3e3935;
    font-size: 18px;
}
.landing-page .bubble {
    height: auto;
    font-size: 18px;
}
\
.no-vote {
    margin-left: 0px;
}
#header {
    margin-top: 80px;
    margin-bottom: 20px;
}
.landing-page .jumbotron p {
    color: #676a6c;
    font-size: 25px;
}
.landing-page .vote-item {
    border-top: 0px;
    padding-left: 0px;
}
.landing-page .vote-title {
    font-size: 22px;
}
.landing-page .vote-item:last-child {
    border-bottom: 0px;
}
.landing-page .vote-icon {
    text-align: middle;
}
.landing-page .pagination {
    margin-top: 25px;
}
vote-info, .vote-info a {
    font-size: 14px;
}
.landing-page .gray-section {
    margin: 0;
}
.landing-page .theme-section {
    color: #fff;
    background-color: #e77362;
}
.landing-page .theme-section p {
    color: #fff;
}
.landing-page .theme-section a {
    color: #fff;
}
.landing-page .theme-section .social-feed-box {
    background-color: rgba(255,255,255,.90);
}
.landing-page .theme-section .social-feed-box a {
    color:#e77362;
}
.landing-page .theme-section .social-body p {
    color: #676a6c;
    font-size: 12px;
    margin: 0;
}
.landing-page .theme-section h1 {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: -1.5px;
}
.landing-page .highlight-block {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #e77362;
}
.middle-box h1 {
    color:#e77362;
    font-size: 170px;
}
@media (min-width: 1000px) {
    .landing-page .wide-image {
        max-width: 90%;
    }
}
@media (max-width: 768px) {
    body:not(.mini-navbar) {
        background-color: #fff;
    }
    .landing-page section:first-child {
        margin-top: 50px;
    }
    .landing-page .theme-section h1 {
        font-size: 28px;
    }
}